@font-face {
  font-family: 'CooperHewitt';
  src: url('/sitecss/CooperHewitt-WebFonts-public/CooperHewitt-Bold.eot'); /* IE9 Compat Modes */
  src: url('/sitecss/CooperHewitt-WebFonts-public/CooperHewitt-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/sitecss/CooperHewitt-WebFonts-public/CooperHewitt-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('/sitecss/CooperHewitt-WebFonts-public/CooperHewitt-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/sitecss/CooperHewitt-WebFonts-public/CooperHewitt-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
	font-family: 'cmu';
	font-weight: italic;
	src: 
		 url('/sitecss/cmunti.woff') format('woff'), /* Pretty Modern Browsers */
		 url('/sitecss/cmunti.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('/sitecss/cmunti.svg') format('svg'); /* Legacy iOS */

  }
@font-face {
	font-family: 'cmu';
	font-weight: normal;
	src: 
		 url('/sitecss/cmunrm.woff') format('woff'), /* Pretty Modern Browsers */
		 url('/sitecss/cmunrm.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('/sitecss/cmunrm.svg') format('svg'); /* Legacy iOS */
  }
  @font-face {
	font-family: 'cmu';
	font-weight: bold;
	src: 
		 url('/sitecss/cmunbx.woff') format('woff'), /* Pretty Modern Browsers */
		 url('/sitecss/cmunbx.ttf')  format('truetype'), /* Safari, Android, iOS */
		 url('/sitecss/cmunbx.svg') format('svg'); /* Legacy iOS */
		}
  
  
body {
	font-size: 1.5rem; font-family: "cmu"; font-weight: normal; color: black;
	text-rendering: optimizeLegibility; 
}
	.side {
	float: left;
	height: 100%;
	width: 18%;
	padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 30px;
	margin-right: 10px;
}

.side2 {
	float: left;
	height: 100%;
	width: 60%;
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	max-width: 80ch;
	min-width: 380px;
}

.menutext {
	text-align: left;
	width: 125px;
	padding-top: 10px;
}
.menutext ul {  margin: 0;	font-size: 1rem; line-height: 120%;
}
.menutext li { list-style-type: none; margin: 0;  margin-left: -30px;  }
h1 {
	font-family: CooperHewitt, sans-serif;
	font-weight: normal;
	font-size: 2.5rem;
	max-width: 60ch;
	letter-spacing: -1px;
	color: red;
}

h2, h3 {
	font-family: CooperHewitt, sans-serif;
	font-weight: normal;
	font-size: 2.3rem;
	max-width: 60ch;
	color: #34495E;
	margin-bottom: 0;
}

h3 {
	font-size: 2rem;
	font-weight: normal;

}
h4 {
	font-family: CooperHewitt, sans-serif;
	font-weight: normal;
	max-width: 60ch;
	color: #34495E;
	margin-bottom: 0;
}
h5 { display: inline-block;	color: red; font-weight: normal; border-bottom: 1px solid red; margin: 0; margin-bottom: .5rem;

}

a, .post-link{
		color: blue;
		text-decoration: none;
}

a:link {
}

a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: red;
    text-decoration: none;
}

ul, li, p {
	max-width: 60ch;
	color: #000;
	margin-top: 0;
}

table, th, td {
	font-size: 24px;
	max-width: 60ch;
	padding-right: 1rem;
}

td:first-child { 	color: #34495E;
}
img { width: 100%; height: auto; }
/* highlight color */
::selection {
  background: #E74C3C;
}
 strong { 	font-family: CooperHewitt, sans-serif;
	font-weight: normal;
	color: #444;
	font-size: 1.4rem;
}
blockquote { margin: 1rem; font-style: italic; font-size: 1.6rem; }